.deals-new-beginnings {
  margin-top: 2vw;
  display: grid;
  grid-template-columns: 70vw 13vw;
  gap: 1vw;
}

.img-border {
  border: 1px solid rgb(107, 106, 106);
  border-radius: 50%;
  margin-left: 1vw;
}

.deals-of-the-day {
  background-color: #ffffff;
}

.deals-clock-time {
  width: 50%;
  display: flex;
  align-items: center;
}

.button-heading-div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

h3 {
  margin-left: 1vw;
}

.time {
  margin-left: 1vw;
}

.new-beginnings {
  background-color: #ffffff;
  justify-content: center;
}

.deals-heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(218, 216, 216);
}

.deals-heading-button {
  justify-content: flex-end;
  background-color: #2874f0;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 2vw;
  width: 5vw;
  border-radius: 0.15vw;
  margin-right: 1vw;
  font-weight: bold;
}

.deals-heading-button:hover {
  opacity: 0.7;
}

.full-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
