.main-navbar {
  overflow: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 100px) 150px;
  gap: 30px;
  justify-content: center;
  background-color: var(--bg-color);
  border-bottom: 2px solid rgb(232, 233, 235);
  font-size: 13px;
  font-weight: bold;
  margin-top: 3.5rem;
}

.main-navbar-img {
  height: 60px;
  width: 60px;
}

.main-navbar > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  font-weight: 1.5rem;
  cursor: pointer;
  margin-top: 0.1vw;
  margin-bottom: 0.1vw;
}

.main-navbar-select {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.0001rem;
  margin-bottom: 0.7vw;
  margin-top: 0.5vw;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .main-navbar {
    justify-content: flex-start;
  }
  .main-navbar > a {
    flex-shrink: 0;
    text-align: center;
  }
}
