.main-navbar {
  overflow: auto;

  display: grid;
  grid-template-columns: repeat(8, 100px) 150px;
  gap: 30px;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(218, 216, 216);
}

.main-navbar-img {
  height: 60px;
  width: 60px;
}

.main-navbar > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
}

.main-navbar-select {
  border: none;
  background-color: transparent;
  font-size: 17px;
  font-weight: lighter;
  margin-bottom: 0.7vw;
  margin-top: 0.5vw;
}
